.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.board {
  width: 100vw; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000000; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.cell.revealed {
  background-color: #ff000098; 
}